@tailwind base;
@tailwind components;
@tailwind utilities;
.react-pdf__Page {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.react-pdf__Page canvas {
  max-width: 100%;
  height: auto !important;
  border-radius: 10px;
}